.container {
    padding: 25px 25px 10px 0px;
    float: left;
}

#user-info {
    padding: 25px 10px 25px 10px;
    float: center;
}

.btn.btn-primary{
  background-color: transparent;
  border-color: white;
}

.btn.btn-primary:hover{
  background-color: green;
  border-color: white;
}

.btn.btn-primary:not(:hover){
  background-color: transparent;
  border-color: white;
}

.btn.btn-primary:disabled{
  background-color: transparent;
  border-color: white;
}

.btn.btn-primary:disabled:hover{
  background-color: red;
  border-color: white;
}

.btn.btn-primary:disabled:not(:hover){
  background-color: transparent;
  border-color: white;
}

img{
  width: 100px;
  height: 100px;
}
#wood-progress-bar{
    background-color: #765D27;
}

#stone-progress-bar{
    background-color: gray;
}

#coal-progress-bar{
    background-color: black;
}

#iron-progress-bar{
    background-color: silver;
}

#gold-progress-bar{
    background-color: gold;
}

#diamond-progress-bar{
    background-color: #7CE0E0;
}
