.container {
    padding: 25px 25px 10px 0px;
    float: left;
}

#user-info {
    padding: 25px 10px 25px 10px;
    float: center;
}

.btn.btn-primary{
  background-color: transparent;
  align-items: center;
  border-color: white;
}

.btn.btn-primary:hover{
  background-color: rgba(0, 255, 0, .2);
  border-color: white;
}

.btn.btn-primary:not(:hover){
  background-color: transparent;
  border-color: white;
}

.btn.btn-primary:disabled{
  background-color: transparent;
  border-color: white;
}

.btn.btn-primary:disabled:hover{
  background-color: rgba(255, 0, 0, .2);
  border-color: white;
}

.btn-secondary{
  background-color: transparent;
  border-color: white;
  margin-bottom: 25px;
}

.blocks{
  width: 100px;
  height: 100px;
}

.tools{
  width: 220px;
  height: 220px;
}

.miners{
  width: 220px;
  height: 220px;
}

#wood-progress-bar{
    background-color: #765D27;
}

#stone-progress-bar{
    background-color: gray;
}

#coal-progress-bar{
    background-color: black;
}

#iron-progress-bar{
    background-color: silver;
}

#gold-progress-bar{
    background-color: gold;
}

#diamond-progress-bar{
    background-color: #7CE0E0;
}

table {
    width:100%;
}
td {
    width:33.3%;
    position:relative;
    border: 5px solid #C6C6C6;
}
td:after{
    content:'';
    display:block;
    margin-top:100%;
}
td .content {
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    background: #8A8A8A;
    box-shadow: inset 2px 2px 0px 0px #000000, inset 0px 0px 2px 2px #FFFFFF;
}

td .tool {
    position:absolute;
    width:100px;
    height:100px;
    top:0;
    bottom:0;
    left:0;
    right:0;
    background: #8A8A8A;
    box-shadow: inset 2px 2px 0px 0px #000000, inset 0px 0px 2px 2px #FFFFFF;
}

.col-md-3#crafting-table {
    background-color: #C6C6C6;
    border-radius: 15px;
    box-shadow: 5px 5px #888888;
}

#prompt-window{
  display: none;
  position: absolute;
  width: 30%;
  height: 30%;
  top:  30%;
  left: 50%;
  background-color: #C6C6C6;
  transform: translate(-50%,-50%);
  border-radius: 25px;
  box-shadow: 5px 5px #888888;
}

#prompt-title {
  display: block;
  padding: 20px 20px 12px;
  font: 700 36px 'Open Sans', sans-serif;
  background: #E84949;
  color: #FAFAFA;
  text-transform: uppercase;
  text-align: center;
}

#prompt {
  padding: 20px;
  font: 15px arial, sans-serif;
}

#prompt p {
  padding-bottom: 8px;
}

#prompt p b {
  font-weight: 700;
}

#prompt-header{
  font: 50px arial, sans-serif;
  text-align: center;
}

#prompt-img{
  width: 50px;
  height: 50px;
}

#prompt-text{
  padding: 5px;
  font: 40px arial, sans-serif;
  text-align: center;
}

#options {
  display: flex;
  padding: 0px 20px 28px;
  text-align: center;
}

#options button {
  margin: 0px 8px;
  padding: 8px 20px;
  background: #C2AE8F;
  cursor: pointer;
  font: 30px arial, sans-serif;
  text-align: center;
}

#options button:hover,
#options button:active {
  background: #E84949;
  color: #FAFAFA;
}

.button-col1{
  display: none;
}

.button-col2{
  display: none;
}

.button-col{
  display: none;
}